In [2]:
#Loading necessary Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [23]:
loan_dataset=pd.read_csv('loan.csv')

In [24]:
#Number of Rows and Columns in the dataset
print('Number of Rows:',loan_dataset.shape[0])
print('Number of Columns:',loan_dataset.shape[1])
#Number of Missing values in the dataset
print('Number of Missing values in the dataset:',loan_dataset.isnull().sum().sum())
#Number of unique values in the dataset
print('Number of Unique values in the dataset:',loan_dataset.nunique().sum())
#Number of Duplicates in the dataset
print('Number of Duplicate data in dataset:',loan_dataset.duplicated().sum())

Number of Rows: 39717
Number of Columns: 111
Number of Missing values in the dataset: 2263366
Number of Unique values in the dataset: 416800
Number of Duplicate data in dataset: 0

In [25]:
#Checking percentage of null values present in each column
print((loan_dataset.isnull().sum()/loan_dataset.shape[0]*100).round(2).sort_values(ascending=True))

id                              0.0
earliest_cr_line                0.0
inq_last_6mths                  0.0
open_acc                        0.0
pub_rec                         0.0
                              ...
avg_cur_bal                   100.0
bc_open_to_buy                100.0
bc_util                       100.0
mo_sin_old_rev_tl_op          100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [26]:
#Shape of the dataset before cleaning
print(loan_dataset.shape)

(39717, 111)

In [27]:
#Removing columns which have more than 50% of null values
#dataset=dataset.loc[:,dataset.isnull().sum()/dataset.shape[0]*100<50]
loan_dataset=loan_dataset.dropna(axis=1,how="all")

In [28]:
#Shape of the dataset after cleaning
print(loan_dataset.shape)

(39717, 57)

In [29]:
#Checking percentage of null values present in each column after cleaning
print((loan_dataset.isnull().sum()/loan_dataset.shape[0]*100).round(2).sort_values(ascending=True))

id                             0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
policy_code                    0.00
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
addr_state                     0.00
last_pymnt_amnt                0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
total_acc                      0.00
recoveries                     0.00
zip_code                       0.00
purpose                        0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
delinq_amnt                    0.00
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
application_type               0.00
acc_now_delinq                 0.00
collection_recovery_fee        0.00
last_credit_pull_d             0.01
title                          0.03
tax_liens                      0.10
revol_util                     0.13
collections_12_mths_ex_med     0.14
chargeoff_within_12_mths       0.14
last_pymnt_d                   0.18
pub_rec_bankruptcies           1.75
emp_length                     2.71
emp_title                      6.19
desc                          32.59
mths_since_last_delinq        64.66
mths_since_last_record        92.99
next_pymnt_d                  97.13
dtype: float64

In [30]:
#Checking columns for data which are unique in nature
print(loan_dataset.nunique().sort_values(ascending=True))

tax_liens                         1
delinq_amnt                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
application_type                  1
policy_code                       1
collections_12_mths_ex_med        1
pymnt_plan                        1
initial_list_status               1
term                              2
next_pymnt_d                      2
pub_rec_bankruptcies              3
loan_status                       3
verification_status               3
pub_rec                           5
home_ownership                    5
grade                             7
inq_last_6mths                    9
emp_length                       11
delinq_2yrs                      11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
mths_since_last_delinq           95
last_pymnt_d                    101
last_credit_pull_d              106
mths_since_last_record          111
int_rate                        371
earliest_cr_line                526
zip_code                        823
loan_amnt                       885
funded_amnt                    1041
revol_util                     1089
out_prncp                      1137
out_prncp_inv                  1138
total_rec_late_fee             1356
collection_recovery_fee        2616
dti                            2868
recoveries                     4040
annual_inc                     5318
total_rec_prncp                7976
funded_amnt_inv                8205
installment                   15383
title                         19615
revol_bal                     21711
desc                          26526
emp_title                     28820
last_pymnt_amnt               34930
total_rec_int                 35148
total_pymnt_inv               37518
total_pymnt                   37850
url                           39717
member_id                     39717
id                            39717
dtype: int64

In [33]:
#Removing irrelevant columns which contain only 1 unique value as it will not contribute to our EDA
loan_dataset=loan_dataset.loc[:,loan_data.nunique()>1]

NameError: name 'loan_data' is not defined

In [ ]:
#Removing irrelevant columns from the dataset
loan_dataset=loan_dataset.drop(['member_id'],axis=1)
loan_dataset=loan_dataset.drop(['title','emp_title','desc','url'],axis=1)